target/
build/
dist/
out/
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
*.log
*.jar
*.war
*.ear
.idea/
.vscode/
*.iml
Thumbs.db
.DS_Store
/shared/zajednicki/nbproject/
/server/server/nbproject/
